@import "../../../App.scss";

.productNav {
  width: 100%;
  height: 3.3rem;
  position: fixed;
  top: 3.32rem;
  left: 0;
  z-index: 99;
  background-color: var(--primary-bg-clr);
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary-bg-clr);

  @include xsmStyles {
    height: auto;
    border-bottom: none;
  }

  .productNav_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include xsmStyles {
      width: 100%;
      flex-direction: column;
      background-color: var(--secondary-bg-clr);
    }

    .category_list {
      display: flex;
      align-items: center;
      justify-content: center;

      @include xsmStyles {
        width: 100%;
        height: 100%;
        border-bottom: 0.5px solid var(--primary-bg-clr);
        padding: 10px;

        &:hover {
          background-color: var(--secondary-bg-clr);
        }
      }

      .category_link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        @include xsmStyles {
          width: 100%;
          height: 100%;
        }

        &:hover {
          color: var(--accent-1);

          @include xsmStyles {
            color: var(--secondary-txt-clr);
          }
        }
      }

      .active {
        color: var(--accent-1);

        @include xsmStyles {
          color: var(--secondary-txt-clr);
        }
      }
    }
  }
}
