@import "../../App.scss";

.category_section {
  width: 90vw;
  margin: 6.3rem auto 1rem;

  @include xsmStyles {
    margin: 12rem auto 1rem;
  }

  .category_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;

    @include small {
      flex-direction: column;
    }

    @include xsmall {
      flex-direction: column;
    }

    .filter {
      .filter_label {
        margin-right: 5px;
      }

      .rating {
        padding: 5px;
        cursor: pointer;
        margin-right: 20px;
        border-radius: var(--border-rd-sm);
      }

      .clear_filter_btn {
        font-size: 12px;
        padding: 6px;
        color: var(--secondary-txt-clr);
        background-color: var(--tertiary-bg-clr);
        border-radius: var(--border-rd-sm);
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid var(--tertiary-bg-clr);

        &:hover {
          color: var(--primary-txt-clr);
          background-color: var(--primary-bg-clr);
        }
      }
    }
  }

  .category_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include xsmStyles {
      justify-content: center;
    }

    .fetchError,
    .loading {
      text-align: center;
      color: var(--primary-txt-clr);
      font-size: var(--fsize-reg);
    }
  }

  .pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      padding: 15px 20px;
      border: 1px solid var(--tertiary-txt-clr);
      cursor: pointer;
    }

    .pagination_selected {
      background-color: var(--tertiary-bg-clr);
      color: var(--secondary-txt-clr);
    }

    .pagination_disable {
      display: none;
    }

    .pagination_icon {
      font-size: var(--fsize-reg);
    }
  }
}
