.star_rating {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .fav_icon {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .stars {
    .star_icon {
      font-size: var(--fsize-semimd);

      &.filled {
        color: #f5a623;
        fill: #f5a623;
      }

      &.empty {
        color: #d1d5db;
        fill: #d1d5db;
      }
    }
  }
}