.home_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;

  .category_section {
    width: 90vw;
    margin: 1rem auto;

    .category_heading {
      color: var(--primary-txt-clr);
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      .arrow_icon {
        font-size: var(--fsize-semimd);
        color: var(--primary-txt-clr);
        margin-left: 2px;

        &:hover {
          color: var(--accent-1);
        }
      }
    }

    .category_wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .category_list {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 0.5px solid black;
        border-radius: var(--border-rd-sm);
        transition: scale 0.3s ease-in-out;

        &:hover {
          scale: 1.05;
          box-shadow: 1px 8px 10px 1px #b4b2b4;
          border: none;
        }

        .category_img {
          width: 280px;
          height: 225px;
          object-fit: cover;
          object-position: center;
          border-radius: var(--border-rd-sm);
        }

        .category_title {
          font-weight: var(--fw-reg);
          color: var(--primary-txt-clr);
          margin: 1rem 0;
          text-transform: capitalize;
        }
      }
    }
  }
}
